sudo apt-get update -y  -- get all latest bugs and fices
sudo apt-get install python3-distutils
sudo apt-get install python3-apt
sudo apt-get install wget
wget https://bootstrap.pypa.io/get-pip.py
sudo apt-get install python3-pip
sudo python3 get-pip.py


python3 -m venv my_env  -
sudo apt install python3.11-venv - virtual env package
source my_env/bin/activate - activate 

mage start demo_project

